{% extends 'dashboard.html' %}  
  
{% block content %}  
<style>
      
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
   <div class="content">
        <div class="dashboard-header">
            <h1>Shops</h1>
            <div class="notification">
                <span><i class="icon icon-envelope-letter"></i></span>
                
                
            </div>
        </div>
        <h2>Shop List</h2>
         <a href="{% url 'load_shop_details' %}">Load Shops</a>
        <div class="stats">
           
    <table>
        <thead>
            <tr>
                <th>Shop ID</th>
                <th>Shop Name</th>
                <th>Location</th>
                <th>Owner Name</th>
                <th>Contact Email</th>
                <th>Contact Phone</th>
                <th>Landing Page</th>
                <th>Created At</th>
                <th>Action</th>
                <!-- <th>Updated At</th> -->
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
                <tr>
                    <td>{{ shop.shop_id_public }}</td>
                    <td><a href="{% url 'shopView' shop.shop_id_public %}">{{ shop.shop_name }}</a></td>
                    <td>{{ shop.location }}</td>
                    <td>{{ shop.owner_name }}</td>
                    <td>{{ shop.contact_email }}</td>
                    <td>{{ shop.contact_phone }}</td>
                    <td><a href="{% url 'addProduct' shop.shop_id_public %}">View</a></td>
                    <td>{{ shop.created_at }}</td>
                    <td><a href="{% url 'userProfile' shop.shop_id_public %}" style="text-decoration: none;"><span><i class="icon icon-settings"></i></span></a></td>
                    <!-- <td>{{ shop.updated_at }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
        </div>
      
    </div>






{% endblock content %}  