{% extends 'dashboard.html' %}  
  
{% block content %}  

   <div class="content">
        <div class="dashboard-header">
            <span><i class="icon icon-user"></i></span>

            <h1>Dashboard Overview</h1>
            <div class="notification">
                <span><i class="icon icon-envelope-letter"></i></span>
                
                
            </div>
        </div>
        <div class="stats">
            
        </div>
      
    </div>





{% endblock content %}  